@use '../styles/variables' as *;

:host {
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .mat-menu-item span {
  margin-right: 8px;
}

  .content-wrapper {
    max-width: $max-width;
    margin: 32px auto;
    padding: 0 16px;
  }

  .logo {
    font-weight: bold;
    font-size: 20px;
  }
}
