<h1 mat-dialog-title>{{ data.mock ? "Edytuj" : "Nowy" }} mock</h1>
<div mat-dialog-content>
  <form [formGroup]="form" [class.form-disabled]="form.disabled">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ścieżka (np. /ping)</mat-label>
      <input matInput formControlName="urlPath" autocomplete="off" />
      <mat-error
        *ngIf="
          form.controls.urlPath.getError('required') ||
          form.controls.urlPath.getError('whitespace')
        "
      >
        Pole jest wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Kod odpowiedzi (HTTP)</mat-label>
      <input
        matInput
        type="number"
        formControlName="statusCode"
        min="100"
        max="599"
      />
      <mat-hint
        >Najczęściej: 200 (OK), 404 (Not Found), 500 (Błąd serwera)</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Metoda</mat-label>
      <mat-select formControlName="method">
        <mat-option value="GET">GET</mat-option>
        <mat-option value="POST">POST</mat-option>
        <mat-option value="PUT">PUT</mat-option>
        <mat-option value="DELETE">DELETE</mat-option>
        <mat-option value="PATCH">PATCH</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Response Body (JSON)</mat-label>
      <textarea
        matInput
        formControlName="responseBody"
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="10"
        placeholder="{ }"
      ></textarea>
      <mat-error
        *ngIf="
          form.controls.responseBody.getError('required') ||
          form.controls.responseBody.getError('whitespace')
        "
      >
        Pole jest wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nagłówki (opcjonalnie, JSON)</mat-label>
      <textarea
        matInput
        formControlName="headersJson"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="6"
        placeholder='{"Content-Type": "application/json"}'
      ></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="enabled" color="primary">
      Endpoint aktywny
    </mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" [disabled]="saving">Anuluj</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="saving">
    <app-spinner-content [loading]="saving">
      <span>Zapisz</span>
    </app-spinner-content>
  </button>
</div>
