<h1 mat-dialog-title>
  {{ data.mock ? ("EDYTUJ_MOCK" | translate) : ("NOWY_MOCK" | translate) }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" [class.form-disabled]="form.disabled">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "MOCK_SCIEZKA" | translate }}</mat-label>
      <input
        matInput
        formControlName="urlPath"
        maxlength="200"
        autocomplete="off"
      />
      <mat-hint align="end"
        >{{ form.controls.urlPath.value.length || 0 }}/200</mat-hint
      >
      <mat-error
        *ngIf="
          form.controls.urlPath.getError('required') ||
          form.controls.urlPath.getError('whitespace')
        "
      >
        {{ "POLE_JEST_WYMAGANE" | translate }}
      </mat-error>
      <mat-error *ngIf="form.controls.urlPath.getError('maxlength')">
        {{ "MAX_X_ZNAKOW" | translate : { x: 200 } }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "MOCK_KOD_ODPOWIEDZI" | translate }}</mat-label>
      <input
        matInput
        type="number"
        formControlName="statusCode"
        min="100"
        max="599"
      />
      <mat-hint>{{ "MOCK_KOD_ODPOWIEDZI_WSKAZOWKA" | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "MOCK_METODA" | translate }}</mat-label>
      <mat-select formControlName="method">
        <mat-option value="GET">GET</mat-option>
        <mat-option value="POST">POST</mat-option>
        <mat-option value="PUT">PUT</mat-option>
        <mat-option value="DELETE">DELETE</mat-option>
        <mat-option value="PATCH">PATCH</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "MOCK_ODPOWIEDZ" | translate }}</mat-label>
      <textarea
        matInput
        formControlName="responseBody"
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="10"
        placeholder="{ }"
        autocomplete="off"
      ></textarea>
      <mat-error
        *ngIf="
          form.controls.responseBody.getError('required') ||
          form.controls.responseBody.getError('whitespace')
        "
      >
        {{ "POLE_JEST_WYMAGANE" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "MOCK_NAGLOWKI_ODPOWIEDZI" | translate }}</mat-label>
      <textarea
        matInput
        autocomplete="off"
        formControlName="headersJson"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="6"
        placeholder='{"Content-Type": "application/json"}'
        maxlength="1000"
      ></textarea>
      <mat-hint align="end"
        >{{ form.controls.headersJson?.value?.length || 0 }}/1000</mat-hint
      >
      <mat-error *ngIf="form.controls.headersJson?.getError('maxlength')">
        {{ "MAX_X_ZNAKOW" | translate : { x: 1000 } }}
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="enabled" color="primary">
      {{ "MOCK_AKTYWNY" | translate }}
    </mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" [disabled]="saving">
    {{ "ANULUJ" | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="saving">
    <app-spinner-content [loading]="saving">
      <span>{{ "ZAPISZ" | translate }}</span>
    </app-spinner-content>
  </button>
</div>
