/* You can add global styles to this file, and also import other style files */

@use "styles/variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: #f4f4f4;
  min-height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  border-radius: $button-border-radius;
}

.container {
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

  & > table {
    background-color: inherit;
  }
}

.header-card {
  background-color: white;
  margin: 16px auto;
  max-width: $max-width;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

mat-card {
  box-shadow: none !important;
  border: none !important;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
    margin: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}
