<h1 mat-dialog-title>{{ "SUBSCRIPTION_CHOOSE" | translate }}</h1>

<div mat-dialog-content>
  <form [formGroup]="form" [class.form-disabled]="form.disabled">
    <mat-radio-group formControlName="selectedPriceId" class="plan-radio-group">
      <ng-container *ngFor="let plan of plans">
        <mat-radio-button *ngFor="let price of plan.prices" [value]="price.id" class="plan-radio-button">
          <div class="plan-card">
            <div class="plan-price">
              <strong>{{ price.amount | currency:price.currency:'symbol':'1.2-2' }}</strong>
            </div>
            <div class="plan-details">
              <div class="plan-details-element">{{ "PLANS_PROJECTS" | translate }}: <span>{{ plan.maxProjects }}</span></div>
              <div class="plan-details-element">{{ "PLANS_RESOURCES" | translate }}: <span>{{ plan.maxResources }}</span></div>
              <div class="plan-details-element">{{ "PLANS_COLLABORATION" | translate }}: <mat-icon color="accent">check</mat-icon></div>
            </div>
          </div>
        </mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </form>
</div>
<code>

</code>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" [disabled]="saving">
    {{ "ANULUJ" | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="subscribe()" [disabled]="loading || saving">
    <app-spinner-content [loading]="loading || saving">
      <span>{{ "ZAPISZ" | translate }}</span>
    </app-spinner-content>
  </button>
</div>