<h2 mat-dialog-title>{{ data.title | translate }}</h2>

<mat-dialog-content>
  <p [innerHTML]="data.message | translate : data.params"></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="dialogRef.close(false)">
    {{
      data.cancelText ? (data.cancelText | translate) : ("ANULUJ" | translate)
    }}
  </button>
  <button mat-flat-button color="warn" (click)="dialogRef.close(true)">
    {{
      data.confirmText ? (data.confirmText | translate) : ("USUN" | translate)
    }}
  </button>
</mat-dialog-actions>
