<mat-card>
  <div class="container">
    <h2>{{ "REJESTRACJA" | translate }}</h2>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      [class.form-disabled]="form.disabled"
    >
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ "ADRES_EMAIL" | translate }}</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ "HASLO" | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" [disabled]="saving">
        <app-spinner-content [loading]="saving">
          <span>{{ "ZAREJESTRUJ_SIE" | translate }}</span>
        </app-spinner-content>
      </button>
    </form>

    <div class="login-link mat-caption">
      <span>{{ "MASZ_JUZ_KONTO" | translate }}</span>
      <a routerLink="/login">{{ "ZALOGUJ_SIE" | translate }}</a>
    </div>
  </div>
</mat-card>
