<mat-card>
  <div class="container">
    <h2>Rejestracja</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Hasło</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" [disabled]="saving">
        Zarejestruj się
      </button>
    </form>

    <div class="login-link mat-caption">
      <span>Masz już konto?</span>
      <a routerLink="/login">Zaloguj się</a>
    </div>
  </div>
</mat-card>
