<mat-card class="header-card">
  <div class="header-content">
    <h2><mat-icon>folder</mat-icon> {{ "TWOJE_PROJEKTY" | translate }}</h2>
    <button mat-flat-button color="primary" (click)="createProject()">
      <mat-icon>add</mat-icon>
      {{ "NOWY_PROJEKT" | translate }}
    </button>
  </div>
</mat-card>

<mat-card *ngIf="loading">{{ "LADOWANIE_Z_KROPKAMI" | translate }}</mat-card>

<div *ngFor="let project of projects" class="project-tile">
  <div class="avatar">{{ project.name[0] }}</div>
  <div class="name">{{ project.name }}</div>
  <div class="actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="manageMembers(project)">
        <mat-icon>group</mat-icon>
        {{ "ZARZADZAJ_CZLONKAMI" | translate }}
      </button>
      <button mat-menu-item (click)="editProject(project)">
        <mat-icon>edit</mat-icon>
        {{ "EDYTUJ" | translate }}
      </button>
      <button mat-menu-item (click)="deleteProject(project)">
        <mat-icon>delete</mat-icon>
        {{ "USUN" | translate }}
      </button>
    </mat-menu>

    <button mat-icon-button (click)="goToMocks(project)">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>

<mat-card *ngIf="!loading && projects.length === 0">
  <div class="container full-width">
    <p>{{ "BRAK_PROJEKTOW" | translate }}</p>
  </div>
</mat-card>
