<h1 mat-dialog-title>
  {{
    data.project ? ("EDYTUJ_PROJEKT" | translate) : ("NOWY_PROJEKT" | translate)
  }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" [class.form-disabled]="form.disabled">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "NAZWA" | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        maxlength="100"
        autocomplete="off"
      />
      <mat-hint align="end"
        >{{ form.controls.name.value.length || 0 }}/100</mat-hint
      >
      <mat-error
        *ngIf="
          form.controls.name.getError('required') ||
          form.controls.name.getError('whitespace')
        "
      >
        {{ "POLE_JEST_WYMAGANE" | translate }}
      </mat-error>
      <mat-error *ngIf="form.controls.name.getError('maxlength')">
        {{ "MAX_X_ZNAKOW" | translate : { x: 100 } }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "API_PREFIX" | translate }}</mat-label>
      <input
        matInput
        formControlName="apiPrefix"
        maxlength="50"
        autocomplete="off"
      />
      <mat-hint align="end"
        >{{ form.controls.apiPrefix.value.length || 0 }}/50</mat-hint
      >
      <mat-error *ngIf="form.controls.apiPrefix.getError('maxlength')">
        {{ "MAX_X_ZNAKOW" | translate : { x: 50 } }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" [disabled]="saving">
    {{ "ANULUJ" | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="saving">
    <app-spinner-content [loading]="saving">
      <span>{{ "ZAPISZ" | translate }}</span>
    </app-spinner-content>
  </button>
</div>
